<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body {{ if .IsHome }}class="home"{{ end }}>
  <div class="layout">
    {{ if .IsHome }}
    {{ partial "header.html" . }}
    {{ end }}
    <main class="site-main">
      <div class="main-content">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    {{ partial "navigation.html" . }}
    {{ partial "footer.html" . }}
  </div>
  {{ range .Site.Params.plugins_js }}
  <script src="{{ . }}"></script>
  {{ end }}
</body>

</html>
