<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>
  <div class="layout">
    <aside class="sidebar">
      {{ partial "sidebar-header.html" . }}
    </aside>
    <div class="wrapper">
      {{ partial "header.html" . }}
      <div class="page-content">
        <div class="page-wrapper">
          {{ block "main" . }}{{ end }}
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
  </div>
  {{ range .Site.Params.plugins_js }}
  <script src="{{ . }}"></script>
  {{ end }}
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "a0e7cbbb45874601b1ffab5e0d4aa0f5"}'></script><!-- End Cloudflare Web Analytics -->
</body>

</html>
