<footer class="site-footer">
  <p>{{ partial "custom_footer.html" . }}</p>
  <p class="attribution">Hosted by <a href="https://micro.blog">Micro.blog</a>. Built with ♥ and ☕ by <a href="https://juhaliikala.com" rel="me">Juha Liikala</a>. See the full <a href="/colophon">colophon</a>.</p>
  <p class="on-social">Elsewhere online: <a href="https://www.instagram.com/nomadcouch/" rel="me">Instagram</a> | <a href="https://www.threads.net/@nomadcouch" rel="me">Threads</a> | <a href="https://micro.blog/juha" rel="me">Micro.blog</a> | <a href="https://mementomori.social/@juha" rel="me">Mastodon</a></p>
</footer>
