<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

  <title>
    {{ block "title" . }}
      {{ if .IsHome }}
        Home  - {{ .Site.Title }}
      {{ else }}
        {{ if .Title }}
          {{ .Title }} - {{ .Site.Title }}
        {{ else }}
          {{ .Summary | truncate 50 }} - {{ .Site.Title }}
        {{ end}}
      {{ end }}
    {{ end }}
  </title>

  <meta name="description" content="{{ if .Summary }}{{ .Summary | truncate 60 }} {{ else }} {{ .Site.Params.itunes_description | truncate 60 }} {{ end}}">
  <meta name="theme-color" content="#0000EE" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#282a36" media="(prefers-color-scheme: dark)">
  <link rel="shortcut icon" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
  <link rel="stylesheet" href="{{ "custom.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="preload" href="{{ "/fonts/iAWriterMonoS-Regular.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ "/fonts/iAWriterMonoS-Bold.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>

  {{ if .RSSLink -}}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ "podcast.xml" | absURL }}" rel="alternate" type="application/rss+xml" title="Podcast" />
  <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ "feed.json" | absURL }}" />
  <link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}" />
  {{ end -}}

  {{ template "_internal/schema.html" . }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <link rel="me" href="https://micro.blog/{{ .Site.Author.username }}" />
  {{ with .Site.Params.twitter_username }}
  <link rel="me" href="https://twitter.com/{{ . }}" />
  {{ end }}
  {{ with .Site.Params.github_username }}
  <link rel="me" href="https://github.com/{{ . }}" />
  {{ end }}
  {{ with .Site.Params.instagram_username }}
  <link rel="me" href="https://instagram.com/{{ . }}" />
  {{ end }}
  <link rel="me" href="https://juhaliikala.com/activitypub/juha" />
  <link rel="me" href="https://juhaliikala.com" />
  <link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
  <link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
  <link rel="micropub" href="https://micro.blog/micropub" />
  <link rel="microsub" href="https://micro.blog/microsub" />
  <link rel="webmention" href="https://micro.blog/webmention" />
  <link rel="subscribe" href="https://micro.blog/users/follow" />
  {{ range .Site.Params.plugins_css }}
  <link rel="stylesheet" href="{{ . }}" />
  {{ end }}
  {{ range $filename := .Site.Params.plugins_html }}
  {{ partial $filename $ }}
  {{ end }}
</head>
