<div class="post-preview h-entry {{ range .Params.categories }} {{ . }}{{ end }}">
  <a href="{{ .Permalink }}" class="post-date u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> ∞</a>
  {{ if .Title }}
  <h2 class="post-title p-name"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <div class="e-content">
      {{ .Summary }}
  </div>
  {{ else }}
  <div class="e-content">
      {{ .Content }}
  </div>
  {{ end }}
</div>