<div class="sidelinks">
  <h4>Elsewhere online</h4>
  <ul>
    <li><a href="https://www.instagram.com/nomadcouch/" rel="me">instagram.com/nomadcouch</a></li>
    <li><a href="https://www.threads.net/@nomadcouch" rel="me">threads.net/nomadcouch</a></li>
    <li><a href="https://micro.blog/juha" rel="me">micro.blog/juha</a></li>
    <li><a href="https://mementomori.social/@juha" rel="me">mementomori.social/@juha</a></li>
    <li><a href="https://fi.linkedin.com/in/juhaliikala" rel="me">linkedin.com/in/juhaliikala</a></li>
    <li><a class="fediverse" href="https://juhaliikala.com/follow-on-fediverse/" rel="me">Find me on Fediverse</a></li>
  </ul>
  <p>You can also reach me via email at hi [at] juhaliikala.com</p>
</div>