<section class="subscribe">
  <figure class="newsletter-cover">
    <img src="https://juhaliikala.com/lettersfromjuhaliikalacom.png" alt="juhaliikala.com newsletter background cover" loading="lazy" width="640">
  </figure>
  <h3>Thank you for reading! Fancy some more?</h3>
  <p>Get new articles via email as soon they go live. Plus, occasional subscriber-only extras that I only send to my email list.</p>
  <form action="https://buttondown.email/api/emails/embed-subscribe/juhaliikala" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/juhaliikala', 'popupwindow')" class="bd-form">
    <label for="bd-email" class="bd-email">Enter your email</label>
    <input type="email" name="email" id="bd-email" placeholder="Your email address">
    <input type="hidden" name="tag" value="from-post-footer" />
    <input type="submit" value="Subscribe">
  </form>
  <div class="small">
  <p>Unsubscribe anytime. I promise to respect your inbox and privacy.</p>
  <p><a href="https://buttondown.email/refer/juhaliikala" target="_blank">Powered by Buttondown.</a></p>
  </div>
</section>