<h4>Get notified via email when new posts goes live (it's free):</h4>
<form action="https://buttondown.email/api/emails/embed-subscribe/juhaliikala" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/juhaliikala', 'popupwindow')" class="bd-form" style="display: flex;flex-direction: column;margin-bottom: 1rem;">
  <label for="bd-email" class="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" placeholder="Your email address">
  <input type="hidden" name="tag" value="from-page-header" />
  <input type="submit" value="Subscribe">
</form>
<div class="small">
  <p>Unsubscribe anytime. I promise to respect your inbox and privacy.</p>
  <p><a href="https://buttondown.email/refer/juhaliikala" target="_blank">Powered by Buttondown.</a></p>
</div>